# Prerequisites
*.d

# data
*.jpg
*.png
*.mp4
*.avi
*.mov
*.mkv
*.mp3
*.wav
*.ogg
*.flac

# Compiled Object files

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
